.nova-square-regular {
  font-family: "Nova Square", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .6rem;
    background-color: #24283b;
    color: #7aa2f7;
    width: 16rem;
    height: 16rem;
    font-family: "Nova Square", sans-serif;
}

h3 {
    font-weight: 800;
    padding: .5rem;
    font: bold;
    font-size: 2rem;
}

#toggle-btn {
    width: 5rem;
    border-radius: 9999999999rem;
    height: 5rem;
    font: bold;
    font-size: medium;
    border: none;
    font-family: "Nova Square", sans-serif;
}